.header {
  background: #0f0f0f;
  color: white;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.2rem 1.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 1.2rem;
  font-weight: bold;
}

.nav {
  display: flex;
  gap: 2rem;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
}

.nav .cta {
  padding: 0.4rem 1rem;
  border: 1px solid white;
}

.menu-btn {
  display: none;
  background: none;
  color: white;
  font-size: 1.5rem;
  border: none;
}

/* MOBILE */
@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }

  .nav {
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    background: #0f0f0f;
    flex-direction: column;
    align-items: center;
    display: none;
    padding: 1.5rem 0;
  }

  .nav.open {
    display: flex;
  }
}
